body {
    background: #1a2a6c;
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
}

/* .inp_search {
    margin: 0;
    width: 200px;
    height: 50px;
    border-radius: 30px;
}

.btn_search {
    margin-top: 10px;
} */

input {
    display: block;
    width: 500px;
    height: 30px;
    margin-top: 30px;
    border: solid 5px black;
    font-size: 30px;
    border-radius: 15px;
}

button {
    margin-top: 30px;
    width: 200px;
    height: 40px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    background: #12c2e9;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    color: white;
}

.img_found {
    margin: 100px;
    background-size: cover;
    width: 400px;
    height: 300px;
    border: solid 3px white;
}

.container {
    color: white;
}